nav {
    background-color: rgb(32, 31, 31);
    grid-template-columns: ;
    height: 65px;
}

#popular-games {
    height: 390px;
    background-color: darkorchid;
}

#pop-head {
    height: 110px;
}

#pop-body {
    height: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#pop-body img {
    height: 213px;
    width: 142px;
    padding: 0px;
    margin: 0px;
}

#categories {
    height: 424px;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

#categories div {
    border: 1px solid black;
    margin: 0px 10px;
}
